@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root{
  --primary: #FFBA32;

  --white: #FFF;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: #f9f6ff;
}
li{
  list-style: none;
}

a{
  color: inherit;
  text-decoration: none;
}

button{
  cursor: pointer;
}

img{
  display: block;
  width: 100%;
}

::-webkit-scrollbar {
  width: 5px;
  height: 11px;
}

::-webkit-scrollbar-thumb {
  background: #9c9c9c;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover{
  background: #ffd072;
}

::-webkit-scrollbar-track{
  background: #ffffff;
  border-radius: 0px;
  box-shadow: inset 7px 10px 12px #f0f0f0;
}