.container{
  width: 100%;
  height: calc(100vh - 3.6rem);

  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  padding: 1rem 2rem;

  background-image: url(https://source.unsplash.com/collection/145698/1200x800);
  background-size: cover;
}


.promisse{
  font: 600 4rem sans-serif;
  line-height: 4rem;
  position: relative;
  color: var(--white);
  z-index: 1;

  &::after{
    content: "";
    position: absolute;
    width: 100%;
    // max-width: 320px;
    height: 32px;
    background: var(--primary);
    top: calc(100% - 1rem);
    right: 0;
    z-index: -1;
  }
}

